body {
  background: #FFF;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

iframe {
  max-width: 100% !important;
  display: block;
}

.cards {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-gap: 1rem;
}

.card {
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter {
  align-self: center;
  text-align: center;
}

.counter {
  align-self: center;
  text-align: center;
}

.thumb-title {
  font-size: 14px;
  padding-bottom: 0px;
  margin-top: 10px;
  font-weight: 700;
  line-height: 1;
}

.thumb-role {
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1;
}

.thumb-awards {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
  padding-top: 0px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1;
}

@media (min-width:100px) and (max-width:500px) {
  .container {
    max-width: 100vw;
  }
  .card {
    max-width: 100vw;
    padding-bottom: 0rem;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width:501px) and (max-width:1200px) {
  .container {
    min-width: 501px;
    max-width: 1200px;
  }
  .card {
    max-width: 480px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  iframe {
    max-width: 1500px;
  }
  .container {
    min-width: 1200px;
    max-width: 1500px;
  }
  .card {
    max-width: 100vw;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

