body{
 margin: 0;
 padding: 0;
 background: #FFF;
 overflow-x: hidden;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: #808080scale
}
.button {
 background-color: #FFFFFF;
 border: 1px solid rgba(0,0,0,0.24);
 color: #000000;
 padding: 8px 16px;
 text-align: center;
 align-items: middle;
 display: inline-block;
 font-size: 12px;
 -webkit-transition-duration: 0.2s;
 transition-duration: 0.2s

}
.button: hover {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
 border: 1px solid white
}
.wrapper {
 text-align: center
}
button{
 transition: all .3s ease-in-out;
 outline: none!important
}
 a: hover{
 text-decoration: none;
 cursor: pointer
}
.bloc{
 width: 100%;
 clear: both;
 background: 50% 50% no-repeat;
 padding: 0 50px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative
}
.bloc .container{
 padding-left: 0;
 padding-right: 0
}
.bloc-sm{
 padding: 20px 50px
}
.d-bloc .panel,.l-bloc{
 color: rgba(0,0,0,.5)
}
.d-bloc .panel button: hover,.l-bloc button: hover{
 color: rgba(0,0,0,.7)
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
 color: rgba(0,0,0,.6)
}
.row-no-gutters{
 margin-right: 0;
 margin-left: 0
}
.row.row-no-gutters > [class^="col-"],.row.row-no-gutters > [class*=" col-"] {
 padding-right: 0;
 padding-left: 0
}
.mg-sm{
 margin-top: 10px;
 margin-bottom: 5px
}
.mg-md{
 color: #000000;
 padding-bottom: 0px;
 margin-top: 10px;
 font-weight: 700;
 line-height: 1
}
.mg-md-sub{
 padding-top: 0px;
 margin-bottom: 20px;
 font-weight: 400;
 line-height: 1
}
.mg-md-award{
 color: rgba(0,0,0,.2);
 padding-top: 0px;
 margin-bottom: -20px;
 margin-bottom: 20px;
 font-weight: 400;
 line-height: 1
}
img.mg-sm,img.mg-md,img.mg-lg{
 margin-top: 0
}
img.mg-sm{
 margin-bottom: 10px
}
.btn{
 margin: 0 5px 5px 0
}
.btn-d,.btn-d: hover,.btn-d: focus{
 color: #FFF;
 background: rgba(0,0,0,.3)
}
button{
 outline: none!important
}
.icon-md{
 font-size: 30px!important
}
iframe{
 border: 0
}
.scrollToTop{
 width: 40px;
 height: 40px;
 position: fixed;
 bottom: 20px;
 right: 20px;
 opacity: 0;
 z-index: 500;
 transition: all .3s ease-in-out
}
.scrollToTop span{
 margin-top: 6px
}
.showScrollTop{
 font-size: 14px;
 opacity: 1
}
h1,h2,h3,h4,h5,h6,p,label,.btn,a{
 font-family: "Helvetica"
}
.container{
 max-width: 1170px
}
.bgc-white{
 background-color: #FFFFFF
}
@media (max-width: 1024px){
 .bloc{
 padding-left: 20px;
 padding-right: 20px
 }
 .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
 padding-left: 0;
 padding-right: 0
 }
}
@media (max-width: 991px){
 .container{
 width: 100%
 }
 .b-parallax{
 background-attachment: scroll
 }
 .page-container, #hero-bloc{
 overflow-x: hidden;
 position: relative
 }
 .bloc{
 padding-left: constant(safe-area-inset-left);
 padding-right: constant(safe-area-inset-right)
 }
 .bloc-group, .bloc-group .bloc{
 display: block;
 width: 100%
 }
 .bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
 padding: 0 20px;
 padding-left: constant(safe-area-inset-left);
 padding-right: constant(safe-area-inset-right)
 }
}